{% extends 'base.html' %}

{% block content %}
{% if feed.image_url %}
  <img width=200 src="{{feed.image_url.url}}" alt="">
{% endif %}
<p>
  <a href="{% url 'accounts:profile' user.username %}">프로필</a>
  <form action="{% url 'feeds:like' feed.pk %}" method='POST'>
    {% csrf_token %}
    {% if request.user in feed.like_users.all %}
      <button>언좋아요</button>
    {% else %}
      <button>좋아요</button>
    {% endif %}
  </form>
<p>{{feed.like_users.all|length}}명이 좋아합니다.</p>
</p>
<p>내용 : {{ feed.content }} </p>
<p>작성 시간: {{ feed.created_at }}</p>
<p>수정 시간: {{ feed.updated_at }}</p>
{% if feed.create_at != feed.updated_at %}
  <small>(수정됨)</small>
{% endif %}

{% if request.user == feed.user %}
  <form action="{% url 'feeds:update' feed.pk %}">
    <button>Feed 수정</button>
  </form>
  <form action="{% url 'feeds:delete' feed.pk %}" method='POST'>
    {% csrf_token %}
    <button>Feed 삭제</button>
  </form>
{% endif %}
<hr>
<form action="{% url 'feeds:comment_create' feed.pk %}" method='POST'>
  {% csrf_token %}
  {{ form.as_p }}
  <button>댓글 작성</button>
</form>
{% for comment in comments %}
  <p>{{ comment.content }}</p>
  <form action="{% url 'feeds:comment_update' feed.pk comment.pk %}">
    <button>수정</button>
  </form>
  <form action="{% url 'feeds:comment_delete' feed.pk comment.pk %}" method='POST'>
    {% csrf_token %}
    <button>삭제</button>
  </form>
{% endfor %}

{% endblock content %}