{% extends 'base.html' %}

{% block style %}
.list-item:hover {
  background: lightgrey
}

.list-item {
  padding: 10px 20px;
}

li > * {
  text-decoration: none;
  color: black;
}

.left-area {
  width: 200px;
  padding: 10px;
}

.right-area {
  width: 500px;
  padding: 10px;
  padding-left: 20px;
}

.attatch-right {
  margin-left: auto;
}

{% endblock style %}

{% block content %}
<div class='d-flex' style='min-width:840px;'>

  <!--sidebar-->
  <div class='border' style="width: 240px">
    <ul class='list-unstyled mt-3'>
      <li>
        <a href="{% url 'accounts:update' user.username %}" class='list-item d-block'>프로필 편집</a>
      </li>
      <li>
        <a href="{% url 'accounts:password' user.username %}" class='list-item d-block'>비밀번호 편집</a>
      </li>
    </ul>
  </div>
  
  <!--update 영역-->
  <div class='border w-100 pt-5' style='min-width:600px;'>
    <form method='POST' enctype='multipart/form-data'>
      {% csrf_token %}

      <!--Password 바꾸는 곳-->
      <div class='d-flex password-form'>
        <div class='left-area text-end'>
          <span style="font-size: 21px;">이전 비밀번호</span>
        </div>

        <div class='right-area'>
          <p>{{ form.old_password }}</p>
        </div>
      </div>

      <div class='d-flex password-form'>
        <div class='left-area text-end'>
          <span style="font-size: 21px;">새 비밀번호</span>
        </div>

        <div class='right-area'>
          <p>{{ form.new_password1 }}</p>
        </div>
      </div>


      <div class='d-flex password-form'>
        <div class='left-area text-end'>
          <span style="font-size: 21px;">새 비밀번호 확인</span>
        </div>

        <div class='right-area'>
          <p>{{ form.new_password2 }}</p>
        </div>
      </div>


      <!--form 제출 버튼-->
      <div class='mb-5' style="padding-left: 220px;">
        <button class='btn btn-outline-primary m-0'>비밀번호 변경</button>
      </div>

    </form>
  </div>
</div>

{% endblock content %}

{% block script %}
<script>

</script>
{% endblock script %}
