{% extends 'base.html' %}

{% block style %}
  .rectangle {
    width: 160px;
    height: 160px;
    padding: 0px;
    overflow: hidden;
    position: relative;
  }

  .profile-image {
    width: 240px;
    height: 160px;
    padding: 0px;
    margin: 0px;
  }

  .feed-image {
    width: 100%;
  }

  .profile-area {
    max-width: 844px;
  }

{% endblock style %}


{% block content %}

<div class='row m-0 profile-area d-flex justify-content-between' style="min-width: 776px;">
  
  <div class='col-5 profile-image my-5'>
    <div class='rectangle mx-auto rounded-circle d-flex justify-content-center'>
      {% if user.image_url %}
        <img class='get-center' src="{{ user.image_url.url }}" alt="">
      {% else %}
        <img class='get-center' src="https://profileimg.plaync.com/account_profile_images/8A3BFAF2-D15F-E011-9A06-E61F135E992F?imageSize=large">
      {% endif %}
    </div>
  </div>

  <div class='col-7 my-info profile-body d-flex flex-column justify-content-center'>
    <div class='d-flex align-content-center'>
      <p class='fs-2 m-0'>{{ user.username }}</p>
      <div class='d-flex align-content-center'>
        {% if user == request.user %}
          <form action="{% url 'accounts:update' user.username %}" class='my-auto'>
            <button class='fs-6 mx-4 bg-white rounded-3'>Profile 수정</button>
          </form>
        {% endif %}
      </div>
    </div>

    <div class='d-flex my-3'>
      <p>게시물 </p>
      <p class='mx-4'>팔로워 {{user.followees.all|length}}</p>
      <p>팔로우 {{user.followers.all|length}}</p>
    </div>
  </div>
</div>



<div class='row my-4'>
<hr>
{% for feed in feeds %}
  <div class='col-4 p-3 border'>
    <a href="#" class=''>
      <div>
        <img class='feed-image' src="{{feed.image_url.url}}">
      </div>
    </a>
  </div>
{% endfor %}
{% endblock content %}