{% extends 'base.html' %}

{% block content %}
<h1>{{user.username}} 프로필</h1>
<a href="{% url 'accounts:update' user.username %}">Profile 수정</a>
{% if user.image_url %}
  <div>
    <img width=200 src="{{ user.image_url.url }}" alt="">
  </div>
  {% endif %}
<a href="{% url 'feeds:userfeed' user.pk %}">피드</a>
<hr>
  
  {% if request.user.username != user.username %}
  <form action="{% url 'accounts:follows' user.username %}" method='POST'>
    {% csrf_token %}
    
    {% if request.user in user.followers.all %}
    <button>UnFollow</button>
    {% else %}
    <button>Follow</button>
    {% endif %}
</form>
{% endif %}

<h2>내가 작성한 피드</h2>
{% for feed in feeds %}
<div style='border: solid 3px black; margin: 10px 0 10px 0'>
  {% if feed.image_url %}
  <div>
    <img width=200 src="{{feed.image_url.url}}" alt="">
  </div>
  {% endif %}
  <br>
  <span>{{ feed.content }}</span>
  <a href="{% url 'feeds:detail' feed.pk %}">상세 보기</a>
</div>
  {% endfor %}
<hr>

<h2>내가 작성한 댓글</h2>
{% for comment in comments %}
  <h1>IMAGE 자리</h1>
  <p>Feed 내용 자리 {{ comment.content }}</p>
  <hr>
{% endfor %}
<hr>

<h2>좋아요 누른 피드 목록</h2>
{% for feed in user.like_feeds.all %}
  <p>
    <a href="{% url 'feeds:detail' feed.pk %}">{{feed.pk}}</a>
  </p>
{% endfor %}
<hr>

<h2>Followers</h2>
<p>{{user.followers.all|length}}</p>
{% for follower in user.followers.all %}
  <p>
    <a href="{% url 'accounts:profile' follower.username %}" >
      {{follower.username}}
    </a>
  </p>
{% endfor %}
<hr>
<h2>Followings</h2>
<p>{{user.followees.all|length}}</p>
{% for followee in user.followees.all %}
  <p>
    <a href="{% url 'accounts:profile' followee.username %}" >
      {{followee.username}}
    </a>
  </p>
{% endfor %}
{% endblock content %}