{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class='d-flex m-5 h-100 p-5 mx-auto flex-column'>
  <div class='d-flex justify-content-center align-items-center mt-5'>
    <form action="" method='POST' class='d-flex align-center'>
      {% csrf_token %}
      
      <div class='text-center border p-4 m-auto bg-white'>
        <img class='mb-5 w-50' src="{% static 'ssafstagram_logo.png' %}">
        <p>친구들의 사진을 보려면 가입하세요.</p>
        <p>{{ form.username }}</p>
        <p>{{ form.password1 }}</p>
        <p>{{ form.password2 }}</p>
        
        <button class='w-100 btn btn-outline-primary'>회원가입</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}